<h1 class="subheader">{{title}}</h1>
<h2 class="subheader">{{subtitle}}</h2>
<button (click)="cambiarTitulo()">Pulsame!</button>
<hr>

<h2>Mostrar la primera pelicula</h2>
{{peliculas[0].titulo}}
<hr>
<h2>Numero de peliculas</h2>
<div *ngIf="peliculas.length <= 3">
    Hay pocas peliculas!
</div>
<div *ngIf="peliculas.length > 3">
    Hay muchas peliculas! 
</div> <br><br>
{{peliculas.length}}
<hr>
<h2 class="subheader">Listado de peliculas</h2>
<!--Listado articulos -->
<div id="articles" *ngIf="peliculas">
    <article class="article-item" *ngFor="let pelicula of peliculas; let i = index;">
        <div class="image-wrap">
            <img src={{pelicula.image}} alt="{{pelicula.titulo}}">
        </div>
        <h2>{{pelicula.titulo}}</h2>
        <span class="date">
            Hace 5 minutos
        </span>

        <span class="year" [ngClass]="{
                                'yearGreen': pelicula.year > 2016, 
                                'yearRed' : pelicula.year < 2016 }">
            {{pelicula.year}}
        </span>
        <a href="article.html">Leer más</a>
        <div class="clearfix"></div>
    </article>
</div>